
homework/.ipynb_checkpoints/Day_005-1_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_004_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_006_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_007_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_008_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_009_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_010_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_011_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_012_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_013_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_014_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_015_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_016_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_017_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_018_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_019_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_020_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_021_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_022_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_023_HW-checkpoint.ipynb
